@use 'sass:color';
@use 'normalize.css';
@use 'variables' as *;

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Gilroy-Semibold.woff2') format('woff2');
}

body {
  font-family: 'Onest', sans-serif;
  font-size: 1rem;
  color: $text-neutral;
  line-height: 1.25;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

sup {
  font-size: 0.5em;
  font-weight: 600;
  vertical-align: baseline;
  top: -0.75em;
  left: 0.125em;
}

form {
  margin: 2.5rem 0;
}

address {
  font-style: normal;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.section {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.section--inverted {
  font-family: Onest, sans-serif;
  font-size: 1rem;
  color: color.change($color-primary-inverse, $alpha: 72%);

  padding: 6rem 0;
  background-color: $color-primary;
}
