@use 'normalize.css';

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Gilroy-Semibold.woff2') format('woff2');
}

$text-accent: #696fe5;

$container-desktop: 90rem;
$container-laptop: 67.5rem;
$container-tablet: 45rem;
$container-mobile: 22.5rem;

h1 {
  font-family: Gilroy, sans-serif;
  font-size: 2.75rem;
  color: $text-accent;

  margin-top: 2.5rem;
  margin-bottom: 1.5rem;

  @media (width > $container-mobile) {
    font-size: 5.25rem;
  }
}
