$text-accent: #696fe5;
$text-neutral: #424c5c;
$text-light: #cbcdf4;

$color-primary: #696fe5;
$color-primary-inverse: white;
$color-secondary: #f4f5f9;

$container-desktop: 90rem;
$container-laptop: 67.5rem;
$container-tablet: 45rem;
$container-mobile: 22.5rem;
