.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.desktop-page-nav {
  display: none;
}

.desktop-header-contacts {
  display: none;
}
