@use '../variables' as *;

.hero-sub-heading {
  margin-bottom: 2rem;
}

.hero-section__buttons {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}

.hero-section__images {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding-top: 3rem;
  padding-bottom: 6rem;
}

.hero-section__image-wrapper {
  position: relative;

  height: 15.625rem;
  margin: 0;
}

.hero-section__image-caption {
  font-family: Gilroy, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 96%;
  letter-spacing: -1.6px;
  color: $color-primary-inverse;

  position: absolute;
  top: 50%;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(rgba(105, 111, 229, 0) 0%, #696fe5 80%);
  padding: 1rem;

  display: flex;
  align-items: end;
}

.hero-section__image {
  height: 100%;
  object-fit: cover;
}

.hero-slider {
  padding-left: 1rem;
  padding-right: 1rem;
  outline: 1px solid $text-light;

  background-color: $color-secondary;
}

.hero-slider__slides-wrapper {
  display: flex;
  overflow: hidden;
}

.hero-slider__slide {
  width: 100%;
  flex-shrink: 0;
}

.hero-slider__slide-image {
  height: 12.5rem;
  object-fit: cover;
}

.hero-slider__slide-heading {
  font-family: Gilroy, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 96%;
  letter-spacing: -0.6px;
  color: $text-accent;

  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.hero-slider__slide-description {
  margin-bottom: 1.5rem;
}

.hero-slider__controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 2.5rem 0;
}

.hero-slider__control-button {
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
}

.hero-slider__control-button-previous {
  margin-left: auto;
}

.hero-slider__control-button-next {
  transform: rotate(180deg);
}
