@use '../variables' as *;

.trivia-section-heading {
  text-align: center;
}

.trivia-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-top: 2.75rem;

  list-style: none;
}

.trivia-list__item {
  background-color: $color-primary;
  color: $color-primary-inverse;

  box-sizing: border-box;
  display: grid;
  place-items: center;
  text-align: center;
  padding: 3.125rem 3.75rem;
  min-height: 11.25rem;
  border-radius: 10rem;
}
